.container {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;

  .spinner-grow {
    margin: 2rem 0.5rem;
  }
}

.activity__preview {
  margin-bottom: 1rem;
  background-color: white;
  padding: 1rem 1rem 0 1rem;
  border-radius: 3px;
  border: 1px solid #E2E2E2;
  box-shadow: 0px 8px 24px rgba(13,13,18,0.04);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -0.25rem;
    
    p {
      white-space: nowrap;
      margin-top: 0.25rem;
    }
    
    .title {
      font-weight: 400;
      font-size: 1.1rem;
    }
    
    .date {
      margin-right: 0.5rem;
      font-weight: 500;
      font-size: 1.2rem;
    }
  }

  .stats-footer {
    display: flex;
    flex-wrap: wrap;

    .col {
      p {
        white-space: nowrap;
      }

      display: flex;
      flex-direction: column;
      margin-right: 2.5rem;
      margin-bottom: 1rem;

      .title {
        color: #494950;
        margin-bottom: 0.25rem;
      }
    }
  }

  img {
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    border-radius: 2px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
}

@media (min-width: 600px) {
  .activity__preview {
    padding: 1rem 1.5rem 0 1.5rem;
  }
}

.scroll-viewport {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.activity__list-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.options {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .type-filters {
    max-width: 50%;
  }
}

.activity__list {
  margin-top: 1.75rem;
  height: 100%;
  max-width: 50rem;
  width: calc(100% - 2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.upload-btn {
  align-self: flex-start;
  margin-bottom: 1rem;
}
