.content-wrapper {
  height: 100%;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.map {
  height: 20rem;
  // width: 20rem;
}

.focusable:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(121,82,179,0.25);
}


// DetailedActivity.tsx
.activity-component {
  max-width: 50rem;
  width: 100vw;
  margin-bottom: 3rem;
  // padding: 0 1rem;
}

.header-detail {
  width: 100%;
  z-index: 1000;
  background-color: white;
  position: sticky;
  border-bottom: 1px solid #e0e0e0;
  top: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .activity-type {
    text-align: center;
  }

  .btn.btn-sm {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
}

.detail-activity {
  .lead {
    padding: 0 1rem;
  }

  margin-top: 1rem;
  position: relative;
  width: 100%;
  flex: 1;
  overflow: auto;

  .map-image {
    width: 100%;
  }
}

.demo-chart {
  width: 100%;
  height: 400px;
}

.profile {
  height: 20rem;
}

.el-text {
  padding-left: 1rem;
}

.loading {
  margin-top: 3rem;
}

.upload-container {
  width: 100vw;
  margin-top: 1rem;
  display: flex;
  justify-content: center;

  .upload {
    max-width: 30rem;
    width: calc(100% - 2rem);
    
    display: flex;
    flex-direction: column;
  }

  .upload-actions {
    display: flex;
    flex-wrap: wrap;

    button.back {
      margin-right: 1rem;
    }
    
    button {
      width: calc(50% - 0.5rem);
      margin-bottom: 1rem;
    }
  }

  h1 {
    margin-bottom: 1rem;
  }

  input {
    margin-bottom: 1rem;
  }
}
